<!DOCTYPE html>
<html lang="es">
  <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
	    <title>Circulacion</title>
	    <link href="/static/css/normalize.css" rel="stylesheet">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
	<header>
		<div class="titular">
			<h1 class="titulo">
				Circulacion
			</h1>
		</div>

		<div class="logo">
			<img src="static/images/diariotiempo.jpg" alt="" />
		</div>

		<div class="usuario">
			<figure class="avatar">
				<img src="/static/imagenes/avatar2.png" alt="usuario"/>
			</figure>
			<a class="flechita" href="#">
				x
			</a>
		</div>
	</header>
	<nav>
		<ul class="menu">
			<li><a href="#">Suscripcion</a></li>
			<li><a href="#">Guia</a></li>
			<li><a href="#">Planes</a></li>
			<li><a href="#">Supervisores</a></li>
			<li><a href="#">Mapas</a></li>
			<li><a href="#">Reportes</a></li>
		</ul>
	</nav>
	<section class="contenido">

	</section>
	<footer>
		<h3>
			<strong>Tiempo.hn El Diario que se lee primero</strong>
			<span> Todos los derechos Reservados 2015 </span>
		</h3>
	</footer>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>